.home1 {
    text-align: center;
    padding: 50px !important;
    font-family: Arial, sans-serif;
}

.home2 {
    padding-left: 20px;
    padding: 45px !important;
    font-family: Arial, sans-serif;

}

.list-item {
    font-size: 14px;
}